<a href="https://colab.research.google.com/github/jspiegel3/MCON232_FQ_Tuples/blob/main/MCON_232_FQ_Class_2_Lab_Work_Together.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Class 2 Nested Lists and Tuples 2/8

In [8]:
my_list = []

alpha = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
alpha_len = len(alpha)-1
beta= []

k = 0
for i in range(3):
  row = []
  for j in range(3):
    row.append(alpha[k])
    k+=1
  beta.append(row)



for row in beta :
  for elem in row:
    print(elem, end=" ")
  print()

a b c
d e f
g h i

In [10]:
# comprehensions :

my_list = [ i for i in range(10)]
print(my_list)

my_nested_list = [[ i*j + i  for j in range(3)]  for i in range(3)]
print(my_nested_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[[0, 0, 0], [1, 2, 3], [2, 4, 6]]

In [25]:
def write_file():
  with open("numbers.txt", "w") as f :
    f.write("1,2,3\n4,5,6\n7,8,9\n")

def read_file1():
  di_list = []
  with open("numbers.txt", "r") as f:
    for row in f:
      di_list.append(list(row.replace(',', '').replace("\n", '')))

  return di_list

def read_file_csv():
  di_list = []

  new_row = []
  with open("numbers.txt", "r") as f:
    for row in f :
      new_row = []
      for char in row:
        if char not in ",\n":
          new_row.append(char)
      di_list.append(new_row)
  return di_list


print(read_file_csv())

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [26]:
t = (5,[1,2,3,4])
t[1][0] = 99

print(t)

(5, [99, 2, 3, 4])

In [28]:
# how to copy tuples with mutable elements
import copy

tt = [['a'],['b'],['c']]
tt2 = copy.deepcopy(tt)
tt[0][0] = 'z'

print(tt, "<>", tt2)

[['z'], ['b'], ['c']] <> [['a'], ['b'], ['c']]

In [30]:
# problem both tt and tt2 point to the same object in memory
tt = [['a'],['b'],['c']]

tt2 = tt
tt[0][0] = 'z'

print(tt, "==", tt2)

[['z'], ['b'], ['c']] == [['z'], ['b'], ['c']]

In [4]:
# slicing
my_list = [5,6,7,8,9]

print(my_list[0:3])
print(my_list[:])
print(my_list[2:-2])
print(my_list[::-1])

[5, 6, 7]
[5, 6, 7, 8, 9]
[7]
[9, 8, 7, 6, 5]

In [5]:
# nested lists
x = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


print(x[1][1])
# 7, 9, 3

5

In [6]:
# building a nested list

# allocate the main list
nested_list = []
data = 200

# create a 3 x 3 grid
for col in range(3):
  row = [] # will contain 3 different elements
  for rr in range(3):
    row.append(data)
    data += 20
  nested_list.append(row) # outside the inner for loop but inside the main loop


print(nested_list)

[[200, 220, 240], [260, 280, 300], [320, 340, 360]]

In [7]:

# pythonic 1D
my_list = [5,6,7,8,9]
# comprehensions

my_even_list = [ i for i in my_list if i % 2 == 0 ]
print(my_even_list)

[6, 8]

In [8]:
# 2D  Comprehensions
rows, cols = 3, 4

my_nested_list2 = [[i*j for j in range(cols)]  for i in range(rows)]
print(my_nested_list2)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [19]:
# nested_list is above
#print(nested_list)
# iterate row by row

# data
for row in nested_list:
  print(row)

print("\n\n")
for index in range(len(nested_list)):
  print(nested_list[index])

print("nested printing" )
for row in nested_list :
  for value in row:
    print(value, end=' ')
  print()

# by index
print("\n\n nested printing by index " )
for r in range(len(nested_list)):
  for c in range(len(nested_list[r])):
    print(nested_list[r][c], end=" ")
  print()

[200, 220, 240]
[260, 280, 300]
[320, 340, 360]



[200, 220, 240]
[260, 280, 300]
[320, 340, 360]
nested printing
200 220 240
260 280 300
320 340 360


 nested printing by index
200 220 240
260 280 300
320 340 360

## Tuples

In [38]:
my_tuple= (4,5,6)
# print(my_tuple)

for value in my_tuple:
  print(value)

print("\n By Index ")
for index in range(len(my_tuple)):
  print(my_tuple[index])

my_tuple = tuple([1,2,3])
print(type(my_tuple))
print(my_tuple)
print(my_tuple[0])

4
5
6

 By Index
4
5
6
<class 'tuple'>
(1, 2, 3)
1

In [39]:
student=("Alice",19,"CS")
print(student)

('Alice', 19, 'CS')

In [44]:
def ret_tuple():
  my_tuple = ('Alice', 19, 'CS')
  return my_tuple

# print(ret_tuple())
name, age, major = ret_tuple()
print(f"{name=} {age=} {major=}")

my_new_tuple = ('Alice', 19, 'CS')
name, age, major   = my_new_tuple
print(f"{name=} {age=} {major=}")

name='Alice' age=19 major='CS'
name='Alice' age=19 major='CS'

In [52]:
t = (1,2,3,4)
tt = "a", "b", "c"

print(tt)

tt3 = (3,)
print(tt3)

my_tuple = tuple([4,5,6])
print(my_tuple)
my_tuple = tuple("abcd")
print(my_tuple)

print(my_tuple[0])

for item in my_tuple:
  print(item)

('a', 'b', 'c')
(3,)
(4, 5, 6)
('a', 'b', 'c', 'd')
a
a
b
c
d

In [57]:
# slicing a tuple

my_tuple = tuple("abcdefg")
print(my_tuple)
print(my_tuple[:])
print(my_tuple[:-5])
print(my_tuple[::-1])
print(my_tuple[2:5])

('a', 'b', 'c', 'd', 'e', 'f', 'g')
('a', 'b', 'c', 'd', 'e', 'f', 'g')
('a', 'b')
('g', 'f', 'e', 'd', 'c', 'b', 'a')
('c', 'd', 'e')

In [66]:
# what we can do with a tuple -- NOT MUCH !!
my_tuple = tuple("abcdefg")
print(my_tuple.count("d"))
print(my_tuple.index("d"))

my_tuple = [1,3,4,5,6]
print("Sum", sum(my_tuple))

my_tuple = tuple("sdfgsdfg")
print("Min", min(my_tuple))
print("Max", max(my_tuple))

print("len", len(my_tuple))

1
3
Sum 19
Min d
Max s
len 8

In [74]:
t = tuple("afasdadfgdsfg")
not_t =  tuple("afasdadfgdsfg")
print(t)

my_new_t = t

print(f'{my_new_t is not_t }' )

not_t += t
print(not_t)

('a', 'f', 'a', 's', 'd', 'a', 'd', 'f', 'g', 'd', 's', 'f', 'g')
False
('a', 'f', 'a', 's', 'd', 'a', 'd', 'f', 'g', 'd', 's', 'f', 'g', 'a', 'f', 'a', 's', 'd', 'a', 'd', 'f', 'g', 'd', 's', 'f', 'g')

In [82]:
# tuples can contain mutables

t = (1, 2, [3, 4])
print(type(t))
t[2].append(5)
print(t)
# t[0] = 5  # immutable cannot overwrite
del(t[2]) # even though we can change the contents of the mutable we cannot delete the mutable

<class 'tuple'>
(1, 2, [3, 4, 5])

TypeError: 'tuple' object doesn't support item deletion

In [81]:
t2 = (("a","b"),("c","d"))
print(t2)
print(type(t2))
t2[0] = 3

(('a', 'b'), ('c', 'd'))
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [83]:
# soring lexicographically

print(sorted([(2, "B"), (1, "A"), (2, "A")]))

[(1, 'A'), (2, 'A'), (2, 'B')]

In [84]:
# is vs identity

a  = (1,2)
b = (1,2)

print(f'TRUE, {a == b}')
print(f'FALSE, {a is b}')

TRUE, True
FALSE, False

In [86]:
# if you have an mutable within your tuple, and you reference another tuple with this
# location, both change
tt = (1,2,['a','b'])
uu = tt
print(f"{uu is tt}")
tt[2].append('c')
print(f'{tt=} {uu=}')

True
tt=(1, 2, ['a', 'b', 'c']) uu=(1, 2, ['a', 'b', 'c'])

In [88]:
import copy

uu = copy.deepcopy(tt)
print(f"{uu is tt}")
tt[2].append('z')
print(f'{tt=} {uu=}')

False
tt=(1, 2, ['a', 'b', 'c', 'c', 'z']) uu=(1, 2, ['a', 'b', 'c', 'c'])

In [91]:
# tuple comprehension
my_tuple = tuple("afssdfadsfasdfad")
my_second_tuple = tuple( value for value in my_tuple)
print(my_second_tuple)

my_list = [ value for value in my_tuple]
print(my_list)

('a', 'f', 's', 's', 'd', 'f', 'a', 'd', 's', 'f', 'a', 's', 'd', 'f', 'a', 'd')
['a', 'f', 's', 's', 'd', 'f', 'a', 'd', 's', 'f', 'a', 's', 'd', 'f', 'a', 'd']

In [97]:
# regular iteration

# look at each value
# extract each index and index into our tuple
# enumerate print index : value

# look at each value
print(my_tuple)

# every value
for value in my_tuple:
  print(value, end= ' ')

# access according by index
for index in range(len(my_tuple)):
  print(my_tuple[index], end= ' ')
print()

# enum

for index, value  in enumerate(my_tuple):
  print(f"enumerate : {index} {value}")

('a', 'f', 's', 's', 'd', 'f', 'a', 'd', 's', 'f', 'a', 's', 'd', 'f', 'a', 'd')
a f s s d f a d s f a s d f a d a f s s d f a d s f a s d f a d
enumerate : 0 a
enumerate : 1 f
enumerate : 2 s
enumerate : 3 s
enumerate : 4 d
enumerate : 5 f
enumerate : 6 a
enumerate : 7 d
enumerate : 8 s
enumerate : 9 f
enumerate : 10 a
enumerate : 11 s
enumerate : 12 d
enumerate : 13 f
enumerate : 14 a
enumerate : 15 d

In [107]:
t = ((1,2),(3,4),(5,6))
print(t)

for index, my_tuple in enumerate(t):
    print(index, my_tuple)

for index, (val1, val2) in enumerate(t):
    # print(index, (val1, val2))
    # print(f'{index} {val1} {val2}')
    print(t[index])

((1, 2), (3, 4), (5, 6))
0 (1, 2)
1 (3, 4)
2 (5, 6)
(1, 2)
(3, 4)
(5, 6)

In [108]:
type(my_tuple)

tuple

In [173]:
import random

print(random.random()) # exclusive we approach 1 but never get to 1
print(random.randint(5,8)) # inclusive on both ends
print(random.randrange(10, 20, step=2)) # will skip acc to step

my_tuple = tuple("abcdefghijklmn")
print(random.choice(my_tuple))

my_list = list("zvwtsm")
print("before ", my_list)
random.shuffle(my_list)
print("after shuffle", my_list)
print(random.uniform(3.543, 6.134))
num = float(5)
my_value = f' my decimal {random.uniform(3.543, 6.134):.3}'
print("here is my value", my_value)

print(random.sample(range(10, 200), 5))

0.011329829101208388
8
14
d
before  ['z', 'v', 'w', 't', 's', 'm']
after shuffle ['t', 's', 'w', 'z', 'm', 'v']
5.120579932511685
here is my value  my decimal 5.17
[86, 191, 61, 83, 150]